html {
    background-color: darkblue;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;

}

html {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {

    font-size: 20px;
}